
body{
    background-color: rgb(36, 147, 151);
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    box-sizing: border-box;
    margin-top: 150px;

}

img{
    width: 300px;
    border-radius: 50%;
    border: 2px solid black;
}

a {
    margin: 10px;
    text-decoration: none;
}

div {
    text-align: center;
       padding: 25px;
}

button:hover {
 background-color: rgb(173, 231, 13);
} 

h1{
    font-size: 60px;
    font-family: "dacing script", cursive;
    margin-bottom: 60px;
}
h1:houver {
    background-color: antiquewhite;
}

.perfil {
border: 1px solid rgb(90, 24, 24);
}
