
body{
    background-color: rgb(36, 147, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    box-sizing: border-box;
    margin-top: 150px;
}

img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

a {
    margin: 10px;
    text-decoration: none;
}

div {
    text-align: center;
    border: 1px solid black;
    padding: 25px;
}

button:hover {
    background-color: aqua;
}

h1{
    font-size: 60px;
    font-family: "dacing script", cursive;
    margin-bottom: 60px;
}
h1:houver {
    background-color: antiquewhite;
}